.container {
    /* min-height: 100vh; così si adatta al contenuto */
    max-width: 90%;
    margin: 0 auto;
}

/* TABLET */
@media only screen and (min-width: 768px) {
    /* and -> mi da il range di dimensione dove voglio lavorare */
    .container {
        max-width: 80%;
    }

    .first {
        display: flex;
        justify-content: space-between;
    }

    .big {
        width: 66%;
    }

    .small {
        width: 31%;
        text-align: center;
    }

    .second {
        display: flex;
        justify-content: space-between;
    }

    .regular {
        width: 31%;
    }

    /* benefits */
    .benefits {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .b-card {
        width: calc(100% / 2 - 2%);
    }

    /* about-us */
    .about-us {
        justify-content: space-between;
        display: flex;
    }


}


/* DESKTOP */
@media only screen and (min-width: 992px) {
    .container {
        background-color: green;
        width: 900px;
    }
}

/* LARGE DESKTOP */
@media only screen and (min-width: 1200px) {
    .container {
        background-color: yellow;
    }
}


body {
    font-family: 'Open Sans', sans-serif;
}

.menu {
    font-size: larger;
}

.btn {
    border: none;
    border-radius: 2em;
}

p {
    line-height: 1.5em;
}

/*********** MAIN ***********/
.card {
    min-height: 30vh;
    border-radius: 1em;
}

.div-img {
    display: flex;
}

.phone-img {
    width: 15em;
    padding-bottom: 0%;
}

.icon {
    font-size: 5em;
}

a {
    text-decoration: none;
}

/* plannings */
.p-img-1 {
    width: 90%;
}

.p-card {
    min-height: 50vh;
    border-radius: 2em;
}

.p-img-2 {
    width: 80%;
}

/* testimonials */
.t-card {
    min-height: 30vh;
    border-radius: 2em;
}

.testimonial {
    width: 14em;
    height: 13em;
    border-radius: 50%;
}

/* benefits */
.b-card {
    min-height: 30vh;
    border-radius: 1em;
}

.number {
    font-size: 3em;
    font-weight: 700;
}

/* about us */
.img-about-us {
    width: 13em;
    height: 12em;
    border-radius: 50%;
}


/* get started */
.underline {
    text-decoration: underline;
}
/*********** FOOTER ***********/
