.container {
    /* min-height: 100vh; così si adatta al contenuto */
    width: 600px;
    max-width: 90%;
    margin: 0 auto;
}

.container-small {
    width: 600px;
    max-width: 90%;
    margin: 0 auto;
}

.container-medium {
    width: 600px;
    max-width: 90%;
    margin: 0 auto;
}

/* TABLET */
@media only screen and (min-width: 768px) {
    /* and -> mi da il range di dimensione dove voglio lavorare */
    .container {
        width: 800px;
        max-width: 80%;
    }

    .container-small {
        width: 800px;
        max-width: 80%;
        margin: 0 auto;
    }

    .container-medium {
        width: 800px;
        max-width: 80%;
        margin: 0 auto;
    }

    /* menu2 */
    .menu2 {
        display: none;
    }

    /* cars */
    .first {
        display: flex;
        justify-content: space-between;
    }

    .big {
        width: 66%;
    }

    .small {
        width: 31%;
        text-align: center;
    }

    .second {
        display: flex;
        justify-content: space-between;
    }

    .regular {
        width: 31%;
    }

    /* testimonials */
    .testimonial {
        display: flex;
        height: 3em;
    }

    /* testimonials */
    .t-card {
        height: 13em;
        border-radius: 2em;
    }

    .testimonial-text {
        padding-top: 32px;
        padding-left: 32px;
        text-align: left;
    }

    /* benefits */
    .benefits {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .b-card {
        width: calc(100% / 2 - 2%);
    }

    /* about-us */
    .about-us {
        justify-content: space-between;
        display: flex;
    }


}


/* DESKTOP */
@media only screen and (min-width: 992px) {
    .container {
        width: 1000px;
        max-width: 80%;
    }
    .container-medium {
        width: 1000px;
        max-width: 65%;
        margin: 0 auto;
    }
    
    .container-small {
        width: 1000px;
        max-width: 40%;
        margin: 0 auto;
    }

    .menu2 {
        display: none;
    }

    /* planning */
    .planning {
        display: flex;
    }

    .p-img-1 {
        width: 70%;
    }

    .right-planning {
        min-height: 15em;
        margin-top: 10em;
    }

    /* benefits */
    .b-card {
        width: calc(100% / 3 - 2%);
    }
}

/* LARGE DESKTOP */
@media only screen and (min-width: 1200px) {
    .container {
        width: 90%;
        max-width: 1200px;
    }

    .container-medium {
        width: 65%;
        max-width: 1000px;
        margin: 0 auto;
    }
    
    .container-small {
        width: 40%;
        max-width: 1000px;
        margin: 0 auto;
    }
}


body {
    font-family: 'Croissant One', serif;
    font-family: 'Fredoka', sans-serif;
    font-family: 'Fredericka the Great', serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.menu {
    font-size: larger;
}

.btn {
    border: none;
    border-radius: 2em;
}

p {
    line-height: 1.5em;
}

/*********** MAIN ***********/

.menu2 {
    display: none;
}

.card {
    min-height: 30vh;
    border-radius: 1em;
}

.div-img {
    display: flex;
}

.phone-img {
    width: 15em;
    padding-bottom: 0%;
}

.icon {
    font-size: 5em;
}

a {
    text-decoration: none;
}

/* plannings */
.p-img-1 {
    width: 80%;
}

.p-card {
    min-height: 50vh;
    border-radius: 2em;
}

.p-img-2 {
    width: 80%;
}

/* testimonials */
.t-card {
    border-radius: 2em;
}

.testimonial-img {
    width: 10em;
    height: 9em;
    border-radius: 50%;
}

/* benefits */
.b-card {
    min-height: 30vh;
    border-radius: 1em;
}

.number {
    font-size: 3em;
    font-weight: 700;
}

/* about us */
.img-about-us {
    width: 13em;
    height: 12em;
    border-radius: 50%;
}

.quotes-container {
    width: 15em;
    height: 10em;
}

#quote {
    font-size: 4em;
    position: absolute;
    right: 3.5em;
}


/* get started */
.p-large {
    font-size: 80px;
    font-weight: 700;
}

.p-medium {
    font-size: 40px;
    font-weight: 600;
}

.underline {
    text-decoration: underline;
}
/*********** FOOTER ***********/
