.container {
    /* min-height: 100vh; così si adatta al contenuto */
    width: 90%;
    margin: 0 auto;
}

/* TABLET */
@media only screen and (min-width: 768px) {
    /* and -> mi da il range di dimensione dove voglio lavorare */
    .container {
        width: 80%;
    }

    .first {
        display: flex;
        justify-content: space-between;
    }

    .big {
        width: 66%;
    }

    .small {
        width: 31%;
    }

    .second {
        display: flex;
        justify-content: space-between;
    }

    .regular {
        width: 31%;
    }

    /* benefits */
    .benefits {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .b-card {
        width: calc(100% / 2 - 2%);
    }

    /* about-us */
    .about-us {
        justify-content: space-between;
        display: flex;
    }


}


/* DESKTOP */
@media only screen and (min-width: 992px) {
    .container {
        background-color: green;
        width: 900px;
    }
}

/* LARGE DESKTOP */
@media only screen and (min-width: 1200px) {
    .container {
        background-color: yellow;
    }
}


body {
    font-family: 'Open Sans', sans-serif;
}

.menu {
    font-size: larger;
}

/*********** MAIN ***********/
.card {
    min-height: 30vh;
    border-radius: 1em;
}

/* plannings */
.p-img-1 {
    width: 90%;
}

.p-card {
    min-height: 50vh;
    border-radius: 2em;
}

/* testimonials */
.t-card {
    min-height: 30vh;
    border-radius: 2em;
}

/* benefits */
.b-card {
    min-height: 30vh;
    border-radius: 1em;
}

/*********** FOOTER ***********/
